.serial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: clamp(2rem, 8vw, 3.125rem);
}

.title{
    font-style: italic;
}